@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300,800;1,300&display=swap");

html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

:root {
  --blue: blue;
  --white: #fff;
  --light-blue: rgb(68, 104, 155);
  --light-dark: rgb(238, 238, 238);
  --light-grey: rgb(90, 89, 89);
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.main_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_container .container {
  display: flex;
  flex: 1;
}

.main_container .container aside {
  display: flex;
}
.main_container .container aside nav {
  background: var(--light-dark);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main_container .container aside nav i {
  display: inline-block;
  font-size: 1.2rem;
}

.main_container .container .podcast_container {
  flex: 1;
}

.main_container .container .podcast_container .podcast_details {
  background: var(--light-grey);
  padding: 3rem 2.5rem;
  display: flex;
}

.main_container .container .podcast_container .podcast_details .img_container {
  padding: 3rem 1rem;
  width: 200px;
}

.main_container
  .container
  .podcast_container
  .podcast_details
  .img_container
  img {
  width: 100%;
}

.main_container .container .podcast_container .podcast_details .details {
  flex: 1;
  color: var(--light-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4.5rem;
  padding-bottom: 3rem;
}

.main_container .container .podcast_container .podcast_details .details h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.main_container .container .podcast_container .podcast_details .details p {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.main_container
  .container
  .podcast_container
  .podcast_details
  .details
  .top
  p:nth-of-type(1) {
  padding-top: 2rem;
}

.main_container .container .podcast_container .podcast_details .bottom span {
  margin-right: 1.2rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.main_container .container .podcast_container .podcast_table {
  margin-left: 1rem;
  margin-top: 2rem;
}

.main_container .container .podcast_container table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1rem;
}

.main_container .container .podcast_container table td {
  text-align: left;
  padding: 8px;
}

.main_container .container .podcast_container table tr:nth-child(even) {
  background-color: var(--light-dark);
}

.main_container .container .podcast_container table td .cloud_sync {
  background: none;
  border: 1px solid #000;
  color: var(--blue);
  padding: 0.2rem;
}

.main_container .podcast_playing_details {
  background: var(--light-blue);
  display: flex;
  font-size: 1.5rem;
  padding: 1.7rem;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.main_container .podcast_playing_details .left {
  display: flex;
  color: var(--white);
  align-items: center;
  flex: 2;
  height: 100%;
}

.main_container .podcast_playing_details .left img {
  width: 100px;
  height: 100%;
}

.main_container .podcast_playing_details .details {
  padding-left: 2rem;
  align-self: flex-start;
  padding-top: 1rem;
}

.main_container .podcast_playing_details .details p {
  padding-bottom: 1.2rem;
  font-size: 1.1rem;
}
.main_container .podcast_playing_details .right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.main_container .podcast_playing_details .right i {
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

.main_container .podcast_playing_details .right .icons {
  width: 100%;
}
